<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >-->

<!--<mapper namespace= "com.leyou.item.mapper.BrandMapper.insertCategoryAndBrand" >-->

<!--&lt;!&ndash;-->
<!--@Insert("INSERT INTO tb_category_brand (category_id, brand_id) VALUES (#{cid},#{bid})")-->
<!--&ndash;&gt;-->

<!--    <insert id="insertCategoryAndBrand">-->
<!--       INSERT INTO tb_category_brand (category_id, brand_id)-->
<!--        VALUES (#{cid},#{bid}) in-->
<!--        <foreach item="item" index="cid" collection="cid"-->
<!--                 open="(" separator="," close=")">-->
<!--            #{cid},#{bid}-->
<!--        </foreach>-->
<!--    </insert>-->
<!--</mapper>-->